name: Check/update settings schema

on:
  pull_request:
    branches:
      - main
    paths:
      - 'language-server/package.json'

jobs:
  check-settings:
    uses: sublimelsp/workflows/.github/workflows/changed-settings.yaml@main
    with:
      repository_url: 'https://github.com/bash-lsp/bash-language-server'
      configuration_file_path: 'vscode-client/package.json'
      configuration_jq_query: '.contributes.configuration.properties'
      version_file: 'language-server/package.json'
      version_regexp: '"bash-language-server": "(\d.)+"'
      version_transform: 'server-{}'
